# Ignore Python virtual environments
venv/
.env/
__pycache__/

# Ignore Airflow logs
logs/

# Ignore compiled files
*.pyc
*.pyo
*.pyd
*.db

# Ignore OS-specific stuff
.DS_Store
Thumbs.db
